body { 
    overflow:hidden;
    height:100vh;
    width:100vw;
    background:#1d1e22;
    --c1: #1d1e22;
    --c2: #444857;
    background-image: -webkit-linear-gradient(top, var(--c1), var(--c2));
    background-image: -moz-linear-gradient(top, var(--c1), var(--c2)));
    background-image: -o-linear-gradient(top, var(--c1), var(--c2)));
    background-image: -ms-linear-gradient(top, var(--c1), var(--c2)));
    background-image: linear-gradient(top, var(--c1), var(--c2)));
  }
  
  